### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule podstawa-programowa podstawa.php
RewriteRule informatyka index.php
RewriteRule lekcje-online lekcje.php
RewriteRule informatyka1 infobezimie.php
