body
{
  /* This pattern is downloaded from www.subtlepatterns.com */
 /* background-image: url("image/dark-honeycomb.png"); */
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(7,50,148,1) 48%, rgba(4,197,139,1) 72%, rgba(0,212,255,1) 100%);
}
#elo
{
    padding: 50px;
  background-color:   #696969;
  text-align: center;
  
  font-size: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  box-shadow: -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
-moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 1);
}

input
{
  width: 300px;
  background-color: efefef;
  color: #666;
  border: 2px solid #dddd;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
}

input[type=submit]
{
  background-color: red;
  font-size: 20px;
  padding: 15px 10;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
}
input[type=submit]:hover
{ background-color: #FF5600; }